In [10]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/years-of-experience-and-salary-dataset/Salary_Data.csv

# Importing data

In [11]:
data=pd.read_csv('../input/years-of-experience-and-salary-dataset/Salary_Data.csv')

In [12]:
data

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [13]:
data.shape

(30, 2)

## Dveloping the logic

In [31]:
#y=mx+c have to find m and c

In [14]:
X=np.array(data.iloc[:,0].values)
y=np.array(data.iloc[:,1].values)

In [15]:
X_mean=np.mean(X)
y_mean=np.mean(y)

In [16]:
m_numerator=(X-X_mean)*(y-y_mean)
m_denominator=(X-X_mean)**2
m=m_numerator.sum()/m_denominator.sum()
c=y_mean-(m*X_mean)

In [20]:
round(m,2)

9449.96

In [21]:
round(c,2)

25792.2

# Creating a class of Linear Regression which uses Ordinary Least Square method(OLS)

In [22]:
class LinearRegression:
    def __init__(self):
        self.numerator=0
        self.denominator=0
        self.m=0
        self.c=0
    def fit(self,X,y):
        X_mean=np.mean(X)
        y_mean=np.mean(y)
        N=len(X)
        for i in range(N):
            self.numerator+=(X[i]-X_mean)*(y[i]-y_mean)
            self.denominator+=(X[i]-X_mean)**2
        self.m+=self.numerator/self.denominator
        self.c+=y_mean-(self.m*X_mean)
        return self
    def predict(self,X):
        return self.m*X+self.c

# Spliting the data

In [23]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [28]:
X_train.shape

(24,)

In [29]:
y_train.shape

(24,)

# Creating an object for Linear Regression class and fitting the data into it

In [24]:
regressor=LinearRegression()

In [25]:
regressor.fit(X_train,y_train)

In [26]:
y_pred=regressor.predict(X_test)
y_pred

array([ 60458.88881439, 100425.08611029,  39524.21404034,  81393.56358843,
       108037.69511904,  37621.06178815])

# Testing the accuracy of the model

In [27]:
from sklearn.metrics import r2_score
accuracy=r2_score(y_test,y_pred)*100
print("The accuracy of the model is : ",accuracy)

The accuracy is 97.95055467684286