# Importing Required packages

In [137]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split,cross_val_score
from sklearn.metrics import accuracy_score

# Data

In [138]:
df = pd.read_csv('dataset.txt',sep=',')

In [139]:
df

      Marks_1    Marks_2  Result
0   34.623660  78.024693       0
1   30.286711  43.894998       0
2   35.847409  72.902198       0
3   60.182599  86.308552       1
4   79.032736  75.344376       1
..        ...        ...     ...
95  83.489163  48.380286       1
96  42.261701  87.103851       1
97  99.315009  68.775409       1
98  55.340018  64.931938       1
99  74.775893  89.529813       1

[100 rows x 3 columns]

In [140]:
df.shape

(100, 3)

In [141]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
Marks_1    100 non-null float64
Marks_2    100 non-null float64
Result     100 non-null int64
dtypes: float64(2), int64(1)
memory usage: 2.5 KB

In [142]:
X = df.iloc[:,0:2].values
y = df.iloc[:,-1].values

In [143]:
h= 1/(1 + np.exp(-(np.dot(X,w))))
res = np.dot(X.T,(h-y))/y.shape[0]
w -= res*0.001

# Class for logistic regression

In [144]:
class logistic_reg():
    def __init__(my,learning_rate=0.001,evolution=1000):
        my.lr=learning_rate
        my.w=0
        my.cycle = evolution
    
    def fit(my,X,y):
        my.w = np.zeros(X.shape[1])
        for _ in range(my.cycle):
            h = my.sigmoid_func(np.dot(X,my.w))
            my.w -= (np.dot(X.T,(h-y))/y.shape[0])*my.lr
        return my
    
    def sigmoid_func(my,a):
        return 1/(1 + np.exp(-a))
    
    def predict(my,predict):
        result = my.sigmoid_func(np.dot(predict,my.w))
        for i in range(len(result)):
            if result[i]>0.5:
                result[i]=1
            else:
                result[i]=0
        return result

# Test

In [145]:
var = logistic_reg(learning_rate=0.001,evolution=100000)

In [146]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3)

In [147]:
var.fit(X_train,y_train)

In [148]:
y_pred = var.predict(X_test)

In [149]:
print(f"Accuracy of the model is {round(accuracy_score(y_test,mylr.predict(X_test))*100,2)} %")

Accuracy of the model is 76.67 %